/* PERSONALIZAÇÃO BÁSICA */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sekuya&family=Six+Caps&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sekuya&family=Six+Caps&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue";
}

/* GARANTIR QUE BODY E HTML TEM 100% DE ALTURA */
html, body {
  height: 100%;
  margin: 0;
}

body {
  background: radial-gradient(circle at center, #0f0f0f 0%, #000000 100%);
  color: #eee;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
  overflow-x: hidden;
  line-height: 1.6;
}

header {
  text-align: center;
  padding: 1rem;
  flex-direction: column;
  margin:.5rem;
}

h1, h2 {
  margin-bottom: 10px;
  color: #fff;
}

h1 {
  font-family: "Sekuya";
  font-size: 2rem;
  text-shadow: 0 0 10px #e100ff, 0 0 20px #e100ff, 0 0 30px #e100ff;
}

h2{
  display: block;
  font-size: 1rem;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

footer {
  text-align: center;
  padding: 10px;
  font-size: 0.9rem;
  color: #777;
  margin-top: auto; /* para ficar na base */
}

/*FIM DA PERSONALIZAÇÃO*/

img{
  width: 100px ;
  height: auto;
  border-radius: 50%
}

nav {
  background-color: transparent;
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  list-style: none;
  padding: 0;
}

.Box{
  background-color: #0f0f0f;
  display: flex ;
  padding-top: 15px;
  flex-direction: row ;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 10px #e100ff, 0 0 20px #e100ff, 0 0 30px #e100ff;
}